/*Navbar Start*/ 
.header_main {background: var(--white);padding: 2px 0;
  .inner-header{align-items: center;}
  /* &.active {position: fixed;left: 0;right: 0;top: 0;z-index: 99;border-bottom: 1px solid rgba(255, 255, 255, 0.1); background: #d5c8ab; backdrop-filter: blur(6px); animation: slide-down 0.9s;    
    .headerbtn{background: var(--primary);}    
  } */
}

.navmenu {margin: auto 0 auto auto; align-items: center;
  a {font-size: 16px;color: var(--black); font-family: var(--bs-font-sans-serif); font-weight: 600;}
  li {padding: 8px 10px;
    &:last-child{padding-right: 0;}
  }  
}

.headerbtn{position: relative;font-weight: bold; background: var(--primary); display: flex; align-items: center; gap: 10px; padding-right: 10px; color: var(--white) !important;
  .telIcon{padding: 10px 12px; border-right: 1px solid var(--white);}
}

/*Navbar End*/

/*Slider Start*/
.banner-section{position: relative;}
.bannerSlider{
  /* &::after{content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; z-index: 1; background: #bbd9e945;} */
  /* .slideImg{animation: bannerimages infinite 8s;} */
  .autoplay-progress {background: #161616cc; min-height: 70px; min-width: 70px; position: absolute;right: 16px;bottom: 16px;z-index: 10;width: 48px;height: 48px;display: flex;align-items: center;justify-content: center;font-weight: bold;color: var(--primary);}
  .autoplay-progress svg {--progress: 0;position: absolute;left: 0;top: 0px; padding: 10px; z-index: 10;width: 100%;height: 100%;stroke-width: 4px;stroke: var(--primary);fill: none;stroke-dashoffset: calc(125.6px * (1 - var(--progress)));stroke-dasharray: 125.6;transform: rotate(-90deg);}
}
.banner-grid-div{position: absolute; z-index: 2; top: 24%; left: 0; right: 0; }
.content-over-banner{
  .projectname{font-size: 60px; letter-spacing: 2px; margin-bottom: 28px;}
  .address{text-transform: uppercase;margin-bottom: 11px;display: block;}
  .typology{font-size: 32px; width: fit-content; margin: 28px 0; padding: 3px 10px;}
  .price{ font-size: 20px; display: flex; gap: 0 8px; align-items: center;
    p{font-size: 38px; color: var(--white); font-weight: 700;}
    span{display: inline;color: var(--white); width: fit-content; padding: 2px 8px;}    
  }
  .siteBtn{border-color: var(--white); text-transform: uppercase;}
}
.contentWrapper{ text-transform: capitalize;  color: var(--white); background-color: #161616cc; position: relative; width: 54%; padding: 50px 50px 168px 50px;  
  .patternTop, .patternbottom{position: absolute; display: flex; }
  .patternTop{top: -23px;right: -26px; flex-direction: column; gap: 15px;}
  .patternbottom{gap: 15px;gap: 56px;padding-top: 42px;}
}

.key_highlights{width: 100%;  margin-top: 26px;
  .innerdiv{max-width: 1; margin: 0 auto; overflow: hidden; border-radius: 0; }  
  .boxes{padding: 0; padding-bottom: 20px;}
  .headings{font-size: 18px; font-weight: 600; width: 100%; display: block;
    img{width: 20px;}
  }
  .sub_heading{padding: 5px;}
}

.book-visit-btn{position: absolute; right: 15%; bottom: 15%;}
.fixedFormIcon{position: fixed; bottom: 40%; right: 0; z-index: 9; cursor: pointer; background-color: var(--black); color: var(--white); padding: 8px; text-align: center; border-radius: 2px 0 0 2px;
  .iconImg {position: relative; display: block; z-index: 1; padding: 5px; display: flex; flex-direction: column; gap: 8px; align-items: center;
    img{ width: 30px; filter: invert(1);}
  }
}

.banner_form{position: fixed; max-width: 22%; right: 0; top: 0; bottom: -20%; background: transparent; z-index: -1; display: flex; justify-content: end; align-items: center; opacity: 0; transition: all 0.4s ease-in-out;
  &.active{z-index: 10; opacity: 1; bottom: 0;}
  .inner_form_div{ width: 100%; background: var(--primary); padding: 35px; position: relative;}
  .closeForm{position: absolute; top: 0; left: 0;  color: var(--white); background-color: var(--black); font-size: 25px; padding: 5px 15px; cursor: pointer;}
  .commonHeading{color: var(--white);
    &::after, &::before{border-color: var(--secondary);}
    img{height: 40px; vertical-align: bottom;}
  }
  .inwrap {position: relative;margin-bottom: 15px; width: 49%;
    .place_holder {color: var(--white);position: absolute;top: 12px;left: 0;transition: all 0.1s ease;}    
    input:focus ~ .place_holder,
    input:not(:focus):valid ~ .place_holder {top: -2px;bottom: 0px;left: 0px;font-size: 11px;opacity: 1;}
  }
  .fullbox{width: 100%;}
  .inbox{background: transparent; border-bottom: 1px solid var(--white); color: var(--white); height: 65px; width: 100%;}  
  #qSenderMessage{min-height: 90px;}
  .custombtn{background: var(--white); width: fit-content; padding: 8px 25px; margin: 15px auto 8px auto; color: var(--black); border-radius: 50px;}
}



/*Overview Start*/
.overview-and-highlights{padding: 120px 0; background: url(../images/others/img3.png);
  &::after {left: inherit;background: var(--secondary);right: 0;width: 35%;}
}

.overview_side{padding-right: 25px;
  .over_inner{background: #cbc6bb38;color: var(--black);display: flex;flex-direction: column-reverse;}
  .commonTitle{color: var(--black);}  
  .over-img{width: 100%; max-height: 326px; height: 100%; object-fit: cover;}
}

.highlight_side{color: var(--black);padding-left: 25px;
  .flex_card{gap: 0 25px;background: #ffffff;margin-bottom: 24px;padding: 25px;}  
  .icon{height: 100%;width: 100%;min-height: 50px;min-width: 50px;max-width: 50px;background: var(--secondary);border-radius: 100px;text-align: center;place-content: center;
    img{height: 20px;filter: invert(1);}
  }
}

/*Overview End*/

/* .inquireSection */
.inquireSection{padding: 120px 0; position: relative; color: var(--white);
  .leftInq, .rightInq{position: absolute; width: 50%; height: 100%; background: var(--secondary); bottom: 0; 
    &:hover{transition: all 0.5s ease-in-out; opacity: 0.8;}
  }
  .rightInq{right: 0; background: var(--primary1);}
  /* .container{} */
  .text{font-size: 35px; font-weight: 600; text-transform: uppercase; }
  .cols{width: fit-content; position: relative; z-index: 1;}
  .midcol{height: 120px; width: 120px; background: var(--white);display: flex; justify-content: center; align-items: center; border-radius: 100%;}  
}
.icon-box-title {position: relative; 
  &:hover {
    img{opacity: 1;}
    a{opacity: 0;}
  }
  a{font-size: 22px; font-weight: 600; text-transform: uppercase; color: var(--primary); position: relative; z-index: 1; transition: all 0.5s ease-in-out;}
  img{width: 50px; position: absolute; left: 0; right: 0; margin: 0 auto; opacity: 0.3; bottom: -10px;transition: all 0.5s ease-in-out; filter: invert(74%) sepia(9%) saturate(301%) hue-rotate(289deg) brightness(90%) contrast(86%);}
}


/* .pricelist-container */
.pricelist-container{padding: 120px 0; background-color: #F6F6F6;
    .headings-div{display: grid; justify-content: center; text-align: center;}
    .flexpricing{margin-top: 35px;}
    .pricebox{border: 1px solid var(--secondary); border-left-color: transparent; margin-bottom: 25px;
      &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(10){border-left-color: var(--secondary);}
    }
    .flexcommon{ display: flex; justify-content: space-between; padding: 20px 15px; transition: all 0.5s ease-in-out;
      &:nth-child(odd), &:hover{background-color: var(--white);}
    }
    .text-left, .text-right{font-weight: 600; font-size: 18px;}
    .text-right{color: var(--primary);}
    .siteBtn{margin: 25px auto; min-width: 60%;}
}


/* floorplan-container */
.floorplanflex{background: var(--white); padding: 45px; text-align: center;}
.floorplan-container{padding: 70px 0; background:#eee url(../images/others/background-img.png); background-size: contain;
  .headings-div{display: grid; justify-content: center; text-align: center;}
  .planbox{padding: 0 25px;}  
  .nav-pills .nav-link{border: 1px solid var(--secondary); background: transparent; padding: 8px 15px; border-radius: 0; min-width: 150px; font-size: 18px;}
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link, .nav-pills .nav-link:hover{color: var(--black); background: var(--secondary); }
  .patternbottom{position: absolute;bottom: 119px;left: 95px;}
  .patternTop{position: absolute; top: 35px; right: 35px; display: flex; gap: 25px; flex-direction: column;}
  .flexbtns{gap: 0 35px;}
}

/*Location End*/
.location-container {overflow: hidden;padding: 90px 0; position: relative; z-index: 2;
  &::after{content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; z-index: -1; background: url(../images/map-bg.webp);opacity: 0.05;}
  .headings-div{margin-bottom: 65px;}
  .imgdiv {padding: 0 44px;margin-top: -24px;}
}


.gallery-mfp{display: none;}

/*Amenities and Gallery*/
.amenities-container, .gallery-container{padding: 120px 0; height: 100%;
  .container{max-width: 92%;}  
  .commonHeading{line-height: 40px;font-size: 33px;margin-bottom: 0;}
  .commonHeading::after, .commonHeading::before{display: none;}
  .contentSide, .headings-div{position: sticky; top: 20px; height: fit-content;}
  .headings-div{text-align: right;}
  .desc{margin-bottom: 35px;font-size: 16px;}
  .siteBtn{padding: 12px 35px; border-radius: 4px; display: block; margin-top: 25px;}
  .am_name, .el_name{font-size: 35px; color: var(--primary); font-weight: 600; min-width: 32%; text-align: right;}
  .el_name{min-width: auto;text-align: left;text-transform: capitalize;}
}
.am_scroll_section{text-align: right;
  .box_inner{display: flex; justify-content: end; gap: 25px 0;}
  .boxes{display: grid; gap: 25px 0;}
  .imgBox{padding-left: 25px; margin-left: 25px; border-left: 1px solid var(--secondary); width: 100%; min-width: 65%;}
}
.gallery-container {
  &::after { right: 0; left: inherit; width: 350px; background: var(--secondary); }
}
.gallery-items{ text-align: left;
  .flexdiv-images{gap: 25px 0; flex-direction: column; width: 100%; min-width: 60%;}
  .imgdiv{display: flex; min-width: 60%;}   
  .imgZoom{padding-right: 25px; margin-right: 25px; border-right: 1px solid var(--secondary); overflow: hidden;     
    img{transition: all 0.4s ease;}
    &:hover img{transform: scale(1.2);}
  }
}


.contact-container {padding: 70px 0; background: url(../images/others/contactbg.svg) no-repeat bottom; background-size: cover;
  .head-div {margin-bottom: 15px;}
  .head-div .pera {font-size: 40px;color: var(--color1);}
  .Callus {width: fit-content;margin-top: 25px; padding: 8px 15px;}
  .from-col {padding: 39px;}
  .from_col_inner {padding: 25px;background-color: var(--white);border-radius: 5px; box-shadow: 0px 2px 6px rgba(0,0,0,0.16);}
  .inputbox {margin-bottom: 26px;display: flex;gap: 0 10px;justify-content: space-between;align-items: center;}
  .inputbox input {border-bottom: 2px solid #dddddd47;width: 100%;padding: 0;}
  .sbmitbtndiv {position: relative;width: 100%;}
  .sbmitbtndiv .custombtn {position: relative;z-index: 1;padding: 12px 50px;background: var(--primary);color: var(--white);border-radius: 3px;}
  .sbmitbtndiv::after {content: "";position: absolute;left: 0;right: 0;bottom: 45%;width: 100%;border-bottom: 4px double rgba(219, 219, 219, 0.79);z-index: 0;}
  .right-col {padding-right: 40px;}
  .heading {font-size: 40px;color: var(--secondary);margin-bottom: 18px;padding-bottom: 15px;border-bottom: 4px double #ddd9;}
  .about-text {text-align: justify;line-height: 27px;}
}


/* Start .sitefooter */
.sitefooter{background: var(--primary); color: var(--white); padding: 70px 0;
  .textdisc{font-size: 13px;}  
}
/* End .sitefooter */

.menuIcon {display: none;}
.menuIcon img {width: 50px;}

  
/* .fixed_icons */
.fixed_icons{z-index: -1; transition: all 0.7s ease-in-out; position: fixed; left: 0; right: 0; bottom: -100%; background: var(--white); max-width: 500px; width: 100%; margin: 0 auto; box-shadow: 0px 2px 6px rgba(0,0,0,0.16); text-align: center; border-radius: 50px; overflow: hidden;
  &.active{ z-index: 5; bottom: 50px;}
  .btn_in{flex: 0 0 33.2%; display: block; background: var(--black); padding: 10px;}
  .text{display: block; font-size: 12px; color: var(--white);}
  .icon{width: 25px; filter: invert(1);}
}

/* #customModal */
.theModal .modal-content {padding: 35px 34px;}
.theModal .modal-dialog {max-width: 441px;}
.theModal .modal-head-div {margin-bottom: 15px;}
.theModal .modal-head {font-size: 35px;padding-bottom: 8px;}
.theModal .modal-para {font-size: 18px;}
.theModal .coldiv {padding-bottom: 18px;}
.theModal .form-control {padding: 22px 15px;}
.theModal .form-control:focus {box-shadow: unset;border-color: var(--primary);color: var(--primary);}
.theModal .form-control:focus::placeholder {color: var(--primary);}
.theModal .close {position: absolute;top: 0;right: 0;background: var(--primary);opacity: 1;}
.theModal .close svg {width: 39px;height: 39px;}



@media (max-width: 1600px) {
  .container{max-width: 1250px;}  
  .amenities-container{
    .container{max-width: 89%;}
  }
  .content-over-banner{top: 10%;}
  .key_highlights{margin-top: 2%;}
  .gallery-container {
    .smimage {
      img {height: 285px;}
    }
    .largeimg {
      img {height: 341px;}
    }
  } 
}
@media (max-width: 1380px) {}

/* ipad Air and mini */
@media (max-width: 992px) {}

@media (max-width: 767px) {
  .menuIcon {display: block;}
  .commonHeading {font-size: 28px;}
  .commonTitle{font-size: 14px;}
  .header {
    &.active {animation: unset;}
  }
  .navmenu{display: block !important; background: #fff; position: fixed; left: -100%; top: 0; bottom: 0; height: 100%; width: 80%; z-index: 99; transition: all 0.4s ease-in-out;
    &.active{left: 0;}
    li {border-bottom: 1px solid #ddd;
      &:last-child{border: 0;}
      a{display: block; color: var(--black);}
    }
    .headerbtn{padding: 10px 0; width: 95%; color: var(--white);
      .telIcon {padding: 11px 14px;}
    }
  } 
  .gallery-container{padding: 35px 0;
    .flexdiv {flex-wrap: wrap;}
    .imgdiv{width: 48%; 
      img{ height: 200px; object-fit: cover;}
    }
    .largeimg{width: 100%;}
  }
  .contact-container{padding: 35px 0;
    .right-col{padding: 0;}
    .about-text{font-size: 14px;}
    .from-col{padding: 0; margin-top: 25px;}
  }
  .sitefooter{padding-top: 35px;}
}

/* All Keyframes */
@keyframes bannerimages {
  from {transform: scale(1.05);}
  to {transform: scale(1.1);}
}
@keyframes slide-down {
  from {opacity: 1;-webkit-transform: translateY(-100%);transform: translateY(-100%);}
  to {opacity: 1;-webkit-transform: translateY(0);transform: translateY(0);}
}
@keyframes shadow-pulse{
  0% {box-shadow: 0 0 0 0px rgba(170, 157, 82, 0.2);}
  100% {box-shadow: 0 0 0 35px rgba(228, 198, 64, 0);}
}
@keyframes arrow-down {
  from {transform: translateY(-30px);}
  to {transform: translateY(0);}
}
@keyframes ripple-red {
  0% {-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3);box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3), 0  0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3);}
  100% {-webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(255, 255, 255, 0);box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.3), 0 0 0 30px rgba(2241, 42, 2, 0); }
}